<article class="afly-layout afly-single-page">
    <div class="afly-page-header clearfix">
        <nav class="pull-right">
            <ol class="breadcrumb">
                <span>你现在的位置：</span>
                <li><a href="/">首页</a></li>
                <li class="active">关于我</li>
            </ol>
        </nav>
        <h4>个人简介</h4>
    </div>
    <div class="afly-page-body">
        <div class="afly-artile-title">
            <h2 class="text-center">个人简介</h2>
        </div>

        <div class="afly-artile-content">
            <p class="afly-p ">
                奈何悲情泛滥，连绵着半生枉然，得到何许，失去又是汗颜~~
                何苦纠结于缥缈间，怪人事凄凉，繁华厌倦，why？
                选择否，努力否，释然否？借口常有，努力不够，然曰无功尔！佛曰：缘起缘灭！
            </p>
            <p class="text-center"><img src="/images/01.jpg" ></p>
            <p class="afly-p ">
                此人，web前端，已做数年，整理一些所学，用此博客展示些许！nodejs,express搭建后端，数据库用的mongodb,
                前端bootstrap,搭建pc一套，另用vue搭建手机单页面展示，代码会放在github，仅供学习！
            </p>
            <p class="afly-p">
                冥冥中，是你的就是你的，不用强求……
            </p>
        </div>
    </div>
</article>