<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="{{#if article}}{{article.title}} | {{/if}}{{site.title}} - {{site.description}}"/>
<meta name="author" content="{{article._user.username}}">
<meta name="description" content="{{articleDesc article.html}}">
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.ico" />


<link rel="stylesheet" href="/lib/toastr/toastr.css">

<link rel="stylesheet" href="/css/style.css">

<title> {{#if article}}{{article.title}} | {{/if}}{{site.title}} - {{site.description}}</title>