<header class="afly-header">
    <div class="afly-header-top"></div>
    <div class="afly-layout">
        <div class="afly-logo-box">
            <div class=""><h1>{{site.title}} <small> 路，就在脚下</small></h1></div>
            <div class="afly-search">
                <form id="search-form" class="form-inline" action="/search" method="post">
                    <div class="form-group">
                        <label for="search" class="sr-only">搜索</label>
                        <input type="text" name="keyword" class="form-control input-sm" id="search" value="{{keyword}}" placeholder="输入关键字">
                    </div>
                    <button type="submit" class="btn btn-black btn-sm js-search">搜索</button>
                    {{#if session.user}}
                    <a href="#" class="btn btn-black btn-sm dropdown-toggle afly-user-btn" data-toggle="dropdown" style="position: relative">
                        <!-- The user image in the navbar-->
                        <img src="{{session.user.userpic}}" class="afly-user-image" width="20" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="">{{session.user.usernick}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right afly-user-drop">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="{{session.user.userpic}}" class="img-circle" alt="User Image">
                            <p>{{session.user.usernick}} </p>
                            <p><small><b>{{timeFromNow session.user.created_time}}</b> 加入本站</small></p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center small">
                                        {{session.user.signature}}
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/user/edit" class="btn btn-black">修改信息</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/logout" class="btn btn-default btn-block"> <i
                                            class="fa fa-sign-out"></i> 退 出</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                    {{else}}
                    <a role="button" href="/login" class="btn btn-black btn-sm">登录</a>
                    {{/if}}
                </form>

            </div>
        </div>

        <nav class="navbar navbar-afly">
            <div class="navbar-header"></div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-link afly-nav-link" href="/">网站首页</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle afly-nav-link" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">关于我<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/aboutme">我的简介</a></li>
                            <li><a href="/my">我的相册</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle afly-nav-link" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">我的生活<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{#each cats}}
                            {{#equals order 99}}
                            <li><a href="/c/{{_id}}" >{{name}}</a></li>
                            {{/equals}}
                            {{/each}}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle afly-nav-link" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">技术知识<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{#each cats}}
                            {{#lt order 99}}
                            <li><a href="/c/{{_id}}" >{{name}}</a></li>
                            {{/lt}}
                            {{/each}}
                        </ul>
                    </li>
                    <li class=""><a href="javascript:alert('大爷，不好意思，该板块正在开发！');" class="afly-nav-link">给我留言</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>