<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> 管理中心</a></li>
        <li><a href="/admin/category"><i class="fa fa-file-text"></i> 分类管理</a></li>
        <li class="active">添加分类</li>
    </ol>
</section>
<section class="content">
    <form role="form" action="/admin/category/create" method="post">
        <input type="hidden" name="id" value="{{category._id}}">
        <div class="box box-primary " id="createCategory">
            <div class="box-header with-border">
                <h3 class="box-title">添加分类</h3></div>
            <div class="box-body create">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="catName">分类名称</label>
                            <input class="form-control" id="catName" name="name" placeholder="输入分类名称" type="text"
                                   value="{{category.name}}">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="age" class="col-sm-2 control-label">分类代表图</label>
                                <div class="col-sm-4">
                                    <input class="form-control js-afly-userpic"  value="{{#if category}}{{category.catpic}}{{else}}/upload/category/cat-default.jpg{{/if}}" name="catpic"  type="hidden" >
                                    <div class="afly-upload-pic" title="点击重新上传"  style="position: relative;">
                                        {{#if category}}
                                        <img src="{{category.catpic}}" alt="" height="60" class="js-user-pic">
                                        {{else}}
                                        <img src="/upload/category/cat-default.jpg" height="60" alt="" class="js-user-pic">
                                        {{/if}}
                                        <input class="afly-hidden-file"  value="" name="uploadpic"  type="file" style="opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                    </div>
                                </div>
                                <div class="col-sm-3"><button class="btn btn-default btn-sm js-afly-upload" data-upload="category" type="button">上传</button></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="order">排序</label>
                            <input type="text" class="form-control" id="order" name="order" value="{{category.order}}">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-location-arrow"></i> 发布</button>
                    </div>
                </div>
            </div>
            <div class="box-footer">
            </div>
        </div>
    </form>
</section>

<script>

</script>