<article class="afly-layout afly-single-page">
    <div class="afly-page-header clearfix">
        <nav class="pull-right">
            <ol class="breadcrumb">
                <span>你现在的位置：</span>
                <li><a href="/">首页</a></li>
                <li class="active">{{user.usernick}}</li>
            </ol>
        </nav>
        <h4>个人信息修改</h4>
    </div>
    <div class="afly-page-body">
        <div class="afly-user-info">
            <div class="row">
                <div class="col-md-12">
                    <form id="js-user-edit" action="/user/edit" class="form-horizontal" method="post">
                        <div class="box box-primary">

                            <div class="box-body">
                                <input class="form-control"  value="{{user._id}}" name="id"  type="hidden">
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">用户名</label>

                                    <div class="col-sm-7">
                                        <p class="form-control-static" id="username" >{{user.username}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usernick" class="col-sm-2 control-label">昵称</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="usernick" value="{{user.usernick}}" name="usernick" placeholder="昵称" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="age" class="col-sm-2 control-label">头像</label>
                                    <div class="col-sm-2">
                                        <input class="form-control js-afly-userpic"  value="{{user.userpic}}" name="userpic"  type="hidden" >
                                        <div class="afly-upload-pic" title="点击重新上传">
                                            <img src="{{user.userpic}}" width="100" alt="" class="js-user-pic">
                                            <input class="afly-hidden-file"  value="" name="avatar"  type="file" >
                                        </div>
                                    </div>
                                    <div class="col-sm-3"><button class="btn btn-black btn-sm js-afly-upload" type="button">上传</button></div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="col-sm-2 control-label">重置密码</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="newpassword" value="" name="newpassword" placeholder="新密码" type="password" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sex" class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-7">
                                        <select name="sex" id="sex" class="form-control">
                                            <option value="保密" {{#equals user.sex '保密'}}selected {{/equals}}>保密</option>
                                            <option value="男" {{#equals user.sex '男'}}selected {{/equals}}>男</option>
                                            <option value="女" {{#equals user.sex '女'}}selected {{/equals}}>女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="age" class="col-sm-2 control-label">年龄</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="age" value="{{user.age}}" name="age" placeholder="18" type="number" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">手机</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="mobile" value="{{user.mobile}}" placeholder="手机号" type="text" name="mobile"
                                               data-bv-mobile="true"
                                               data-bv-mobile-message="请输入正确的邮箱！"
                                        >
                                    </div>
                                    <div class="col-sm-3 afly-form-err"></div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">邮箱</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="email" value="{{user.email}}" placeholder="邮箱" type="email" name="email" required
                                               data-bv-required="true"
                                               data-bv-required-message="不能为空！"
                                               data-bv-eamil="true"
                                               data-bv-eamil-message="请输入正确的邮箱！"
                                               data-bv-isajax="email"
                                               data-bv-isajax-message="邮箱已被注册！"
                                        >
                                    </div>
                                    <div class="col-sm-3 afly-form-err"></div>
                                </div>

                                <div class="form-group">
                                    <label for="website" class="col-sm-2 control-label">个人站点</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="website" value="{{user.website}}" name="website" placeholder="个人站点" type="text" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">所在地点</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="address" value="{{user.address}}" name="address"  placeholder="所在地点" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">职业</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="address" value="{{user.job}}" name="job"  placeholder="职业" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="github" class="col-sm-2 control-label">Github</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="github" value="{{user.github}}" name="github" placeholder="Github" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="github" class="col-sm-2 control-label">微博地址</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="github" value="{{user.weibo}}" name="weibo" placeholder="微博" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signature" class="col-sm-2 control-label">个人签名</label>

                                    <div class="col-sm-7">
                                        <input class="form-control" id="signature" value="{{user.signature}}" name="signature" placeholder="个人签名" type="text" >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-black">保存信息</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</article>

